*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  background: #FFF;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 1px 2px 0 #0000001a;
}

nav .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-left: 20px;
}

nav .avatar p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

nav h1 {
  font-size: 22px;
  font-weight: 600;
  
}

nav a{
  margin-left: auto;
  margin-right: 20px;
}

main {
  padding: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #eee;
}

@media(max-width: 1150px) {
  footer {
    bottom: auto;
  }
}

@media(max-width: 640px) {
  footer {
    height: 100px;
    text-align: center;
  }
}

button {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #3A2DB1;
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-top: 8px;
}

button:hover {
  background-color: #5640FB;
}

@media(max-width: 450px) {
  nav {
    height: 140px;
    text-align: center;
  }
}